
________________________________________________________________________

------------------------------------------------------------------------
 =================================
| FIM DO PROCESSAMENTO DO LOG     |
 =================================
------------------------------------------------------------------------